{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Přihlášení</title>
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
</head>
<body class="standalone-page-body">
    <div class="form-container">
        <h2>Přihlaste se do Chatu</h2>
        <form method="post">
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-login">Přihlásit</button>
        </form>
    </div>
</body>
</html>