{% extends 'chat/base.html' %}

{% block content %}
<div class="form-container">
    <h2>Edit Profile</h2>
    
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <p style="color: #666;">Your username is: <b>{{ user.username }}</b></p>
    
    <form method="post" style="text-align: left;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-action" style="width: 100%; margin-top: 15px;">Save Changes</button>
    </form>
</div>
{% endblock %}
