{% extends 'chat/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'chat/support.css' %}">
{% endblock %}

{% block content %}
<div class="support-container">
    <h2>Contact Support</h2>
    <p class="description">Have a technical issue or a suggestion? Let us know.</p>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-action">Send Message</button>
    </form>
</div>
{% endblock %}